@model IEnumerable<APPDATA.Models.Image>

@{
    ViewData["Title"] = "GetList";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    var stt = 0;
}

<div class="card">
    <div class="card-header">
        <h5 class="mb-0">Hình ảnh</h5>
    </div>
    <div class="card-body">
        <a class="btn btn-success waves-effect waves-light" asp-action="Create">
            <span class="mdi mdi-plus-thick">Tạo mới</span>
        </a>
       @*  <form asp-action="Search" method="get" class="form-inline" style="margin-left: 1000px">
            <input placeholder="Tìm Kiếm" type="text" name="searchTerm" id="searchTerm" class="form-control" aria-label="Recipient's username" aria-describedby="basic-addon2" />
        </form> *@
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>STT</th>
                        <th>Tên sản phẩm</th>
                        <th>Hình ảnh</th>                                                             
                        <th>Xóa</th>                                                             
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null && Model.Any())
                    {
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@(stt += 1)</td>
                               
                                    @foreach (var PD in ViewBag.PD)
                                    {
                                        if (PD.Id==item.IdProductdetail)
                                        {
                                        <td> @PD.Name </td>
                                        break;
                                        }
                                    }

                                
                                <td>
                                    <img src="~/images/@item.Name" alt="Fjords" width="90px" height="90px">

                                </td>
                             
                              
                                

                                <td>                                 
                                    <a href="@Url.Action("Delete", new { id = item.Id  })" class="btn btn-danger waves-effect waves-light">
                                        <span class="mdi mdi-delete"></span>Delete
                                    </a>
                                </td>

                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="8" class="text-center">No Data.</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


