@model APPDATA.Models.ProductDetail

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>ProductDetail</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        
            <div class="form-group">
                <label asp-for="Id_Category" class="control-label"></label>
                <input asp-for="Id_Category" class="form-control" />
                <span asp-validation-for="Id_Category" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Id_Size" class="control-label"></label>
                <input asp-for="Id_Size" class="form-control" />
                <span asp-validation-for="Id_Size" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Id_Product" class="control-label"></label>
                <select asp-for="Id_Product" class="selectpicker form-control" aria-label="size 3 select example" onchange="addToList()">

                    @{
                        if (ViewBag.Product != null)
                        {
                            foreach (var item in ViewBag.Product)
                            {
                                <option value="@item.Id.ToString()"> @item.Name</option>
                            }
                        }
                    }
                </select>
                <span asp-validation-for="Id_Product" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Id_Material" class="control-label"></label>
                <input asp-for="Id_Material" class="form-control" />
                <span asp-validation-for="Id_Material" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Id_Color" class="control-label"></label>
                <input asp-for="Id_Color" class="form-control" />
                <span asp-validation-for="Id_Color" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Id_supplier" class="control-label"></label>
                <input asp-for="Id_supplier" class="form-control" />
                <span asp-validation-for="Id_supplier" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quantity" class="control-label"></label>
                <input asp-for="Quantity" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Desciption" class="control-label"></label>
                <input asp-for="Desciption" class="form-control" />
                <span asp-validation-for="Desciption" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Create_date" class="control-label"></label>
                <input asp-for="Create_date" class="form-control" />
                <span asp-validation-for="Create_date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Update_date" class="control-label"></label>
                <input asp-for="Update_date" class="form-control" />
                <span asp-validation-for="Update_date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Create_by" class="control-label"></label>
                <input asp-for="Create_by" class="form-control" />
                <span asp-validation-for="Create_by" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Update_by" class="control-label"></label>
                <input asp-for="Update_by" class="form-control" />
                <span asp-validation-for="Update_by" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="mb-3">
                    <label for="formFileMultiple" class="form-label">Chọn ảnh từ Máy tính</label>
                    <input class="form-control" type="file" id="formFileMultiple" name="imageFile" multiple>
            </div>
                <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

