@using APPDATA.Models;
@model APPVIEW.ViewModels.RegisterVm

@{
    ViewData["Title"] = "Create-Account";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h4 class="py-3 mb-4"><span class="text-muted fw-light">Forms /</span> Basic Inputs</h4>
@if (!string.IsNullOrEmpty(ViewData["ErrorMessage"] as string))
{
    <div class="alert alert-warning alert-dismissible" role="alert">
        @ViewData["ErrorMessage"]
    </div>
}
<div class="row">
    <div class="col-xxl">
        <div class="card mb-4">
            <div class="card-header d-flex align-items-center justify-content-between">
                <h5 class="mb-0">Tạo mới</h5>

            </div>
            <div class="card-body">
                <form asp-action="Create" method="post" onsubmit="return validateForm()">
                    <div class="row mb-3">
                        <label asp-for="Name" class="col-sm-2 col-form-label">Tên đây đủ</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" asp-for="Name" placeholder="Enter Tên" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label asp-for="Email" class="col-sm-2 col-form-label">Email</label>
                        <div class="col-sm-10">
                            <input type="email" class="form-control" asp-for="Email" placeholder="Enter Email" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label asp-for="PhoneNumber" class="col-sm-2 col-form-label">Số điện thoại</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="phone" asp-for="PhoneNumber" placeholder="Nhập số điện thoại" />
                            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                            <span class="text-danger" id="phonError"></span>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label asp-for="Id_Role" class="col-sm-2 col-form-label">Quyền</label>
                        <div class="col-md-4 user_role">
                            <div class="input-group">
                                <label class="input-group-text" asp-for="Id_Role" >Quyền</label>
                                <select asp-for=Id_Role class="form-select text-capitalize" id="inputGroupSelect01">
                                    @if (ViewBag.ListRole != null)
                                    {
                                        <option selected>Chọn...</option>
                                        @foreach (var item in ViewBag.ListRole as List<Role>)
                                        {

                                            <option value="@item.id">@item.name</option>
                                        }
                                    }
                                    else
                                    {
                                        <option selected>Chọn...</option>
                                    }

                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-end">
                        <div class="col-sm-10">
                            <button type="submit" class="btn btn-primary">
                                <span class="mdi mdi-check-outline"></span> Thêm
                            </button>
                            <div class="btn-group ms-2">
                                <a href="#" class="btn btn-danger waves-effect waves-light" onclick="goBack()">
                                    <span class="mdi mdi-close"></span> Thoát
                                </a>
                                <script>
                                    function goBack() {
                                        window.history.back();
                                    }
                                </script>
                            </div>
                        </div>
                    </div>
                  
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var phoneNumberInput = document.getElementById('phone');
        var phoneErrorSpan = document.getElementById('phonError');

        phoneNumberInput.addEventListener('input', function () {
            var inputValue = phoneNumberInput.value;
            var cleanedValue = inputValue.replace(/[^0-9+]/g, '');
            cleanedValue = cleanedValue.slice(0, 10);
            phoneNumberInput.value = cleanedValue;
        });

        phoneNumberInput.addEventListener('blur', function () {
            validatePhoneNumber(phoneNumberInput.value);
        });

        function validatePhoneNumber(phoneNumber) {
            var phoneRegex = /^\+?[0-9]{1,4}-?[0-9]{3,4}-?[0-9]{4,}$/;

            if (phoneRegex.test(phoneNumber) && phoneNumber.startsWith('0')) {
                // Nếu số điện thoại hợp lệ, ẩn thông báo và hiển thị nền trắng cho ô nhập
                phoneErrorSpan.textContent = '';
                phoneNumberInput.style.backgroundColor = 'white';
            } else {
                if (phoneNumber.length < 10) {
                    // Hiển thị thông báo trong thẻ span khi số điện thoại có ít hơn 10 kí tự
                    phoneErrorSpan.textContent = 'Số điện thoại phải có ít nhất 10 kí tự.';
                } else if (!phoneNumber.startsWith('0')) {
                    // Hiển thị thông báo trong thẻ span khi số điện thoại không bắt đầu bằng số 0
                    phoneErrorSpan.textContent = 'Số điện thoại phải bắt đầu bằng số 0.';
                } else {
                    // Hiển thị thông báo trong thẻ span khi số điện thoại không hợp lệ
                    phoneErrorSpan.textContent = 'Số điện thoại không hợp lệ.';
                }


            }
        }
    });
</script>