@using APPDATA.Models;
@model APPDATA.Models.Account

@{
    ViewData["Title"] = "Account-Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="py-3 mb-4"><span class="text-muted fw-light"></span> Account</h4>
    <form asp-action="Edit" method="post" enctype="multipart/form-data">
        <div class="row">
            <div class="col-md-12">
                <div class="card mb-4">
                    <h4 class="card-header">Profile Details</h4>
                    <div class="card-body">
                        <div class="d-flex align-items-center gap-4">
                            <img src="~/UserImage/@Model.Avatar"
                                 alt="user-avatar"
                                 class="d-block w-px-120 h-px-120 rounded"
                                 id="uploadedAvatar" />
                            <div class="button-wrapper">
                                <label for="upload" class="btn btn-primary me-2 mb-3" tabindex="0">
                                    <span class="d-none d-sm-block">Upload new photo</span>
                                    <i class="mdi mdi-tray-arrow-up d-block d-sm-none"></i>
                                    <input asp-for="Avatar" type="file"
                                           id="upload"
                                           class="account-file-input"
                                           hidden
                                           accept="image/png, image/jpeg" name="imageFile" />
                                </label>
                                <button type="button" class="btn btn-outline-danger account-image-reset mb-3">
                                    <i class="mdi mdi-reload d-block d-sm-none"></i>
                                    <span class="d-none d-sm-block">Reset</span>
                                </button>
                                <div class="text-muted small">Allowed JPG, GIF, or PNG.</div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body pt-2 mt-1">
                        <div class="row mt-2 gy-4">
                            <div class="col-md-6">
                                <div class="form-floating form-floating-outline">
                                    <input asp-for="Name" class="form-control"
                                           type="text"
                                          name="Name"
                                           
                                           autofocus />
                                    <label asp-for="Name">Name</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating form-floating-outline">
                                    <input asp-for="Email" class="form-control"
                                           type="text"
                                           id="email"
                                           name="email"
                                           placeholder="john.doe@example.com" />
                                    <label for="email">E-mail</label>
                                </div>
                            </div>                            
                            <div hidden  class="col-md-6">
                                <div hidden class="form-floating form-floating-outline">
                                    <input hidden asp-for="Password" class="form-control"
                                           type="text"
                                           name="Password"
                                           placeholder="john.doe@example.com" />
                                    <label hidden for="email">Pass</label>
                                </div>
                            </div>
                            <div hidden class="col-md-6">
                                <div hidden class="form-floating form-floating-outline">
                                    <input hidden asp-for="Create_date" class="form-control"
                                           type="datetime"
                                           name="Password"
                                           placeholder="john.doe@example.com" />
                                    <label hidden for="email">Pass</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="input-group">
                                    <label class="input-group-text" for="inputGroupSelect01">Options</label>
                                    <select asp-for="IdRole" class="form-select" id="inputGroupSelect01">
                                        <option selected>Choose...</option>
                                        @if (ViewBag.Roles != null)
                                        {
                                            @foreach (var role in ViewBag.Roles as List<Role>)
                                            {
                                                <option value="@role.id">@role.name</option>
                                            }
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="mt-4">
                            <button type="submit" class="btn btn-primary me-2">Save changes</button>
                            <button type="reset" class="btn btn-outline-secondary">Reset</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

</div>

