@using _APPAPI.Service;
﻿@{
    var IdUser = ((System.Security.Claims.ClaimsIdentity)User.Identity).FindFirst("Id");
    string Id_userValue = IdUser?.Value;

    var AvatarUser = ((System.Security.Claims.ClaimsIdentity)User.Identity).FindFirst("Avatar");
    string AvatarUserValue = AvatarUser?.Value;
    if (AvatarUserValue == null)
    {
        AvatarUserValue = "UserDefault.jpg";
    }


}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Supper Fashion - Trang chủ</title>
    <link rel="icon" href="~/contentwebb/img/Fevicon.png" type="image/png">
    <link rel="stylesheet" href="~/contentwebb/vendors/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="~/contentwebb/vendors/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="~/contentwebb/vendors/themify-icons/themify-icons.css">
    <link rel="stylesheet" href="~/contentwebb/vendors/nice-select/nice-select.css">
    <link rel="stylesheet" href="~/contentwebb/vendors/owl-carousel/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/contentwebb/vendors/owl-carousel/owl.carousel.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10/dist/sweetalert2.min.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link href="~/css/sty.css" rel='stylesheet'>
    <link href="~/contentwebb/css/style.css" rel="stylesheet" />
    <link href="~/contentwebb/css/main.css" rel="stylesheet" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>


</head>

<body>
    <style>
        /* CSS code here */
        body {
            background-color: #fff; /* Màu nền trắng hoặc màu nền tùy chọn của bạn */
            margin: 0; /* Loại bỏ margin để navbar có thể trải dài từ trên đầu trang */
        }

        .navbar {
            background: rgba(255, 255, 255, 0.9); /* Màu nền với độ trong suốt */
            backdrop-filter: blur(400px); /* Giảm mức độ làm mờ */
            position: fixed; /* Đặt navbar ở vị trí cố định */
            width: 100%; /* Navbar chiếm toàn bộ chiều rộng của trang */
            z-index: 1000; /* Z-index để đảm bảo navbar hiển thị phía trên nền */
        }

        .navbar-nav .nav-link {
            color: #000; /* Màu chữ của các menu item */
        }

        .navbar-toggler-icon {
            background-color: #000; /* Màu của biểu tượng toggle (nút hiển thị menu trên di động) */
        }

        /* Thêm một số kiểu CSS tùy chỉnh cho các menu item dropdown */
        .navbar-nav .nav-item.submenu:hover .dropdown-menu {
            display: block;
        }

    </style>
    <!--================ Start Header Menu Area =================-->
    <header class="header_area">
        <div class="main_menu">
            <nav class="navbar navbar-expand-lg navbar-light">
                <div class="container">
                    <a class="navbar-brand logo_h" href="~/Home/index"><img src="~/contentwebb/img/logo.png" alt=""></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                        <ul class="nav navbar-nav menu_nav ml-auto mr-auto">
                            <li class="nav-item active"><a class="nav-link" asp-action="Index" asp-controller="Home">Trang chủ</a></li>
                            <li class="nav-item submenu dropdown">
                                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                                   aria-expanded="false">Shop</a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item"><a class="nav-link" asp-action="Shop" asp-controller="Home">Danh mục cửa hàng</a></li>
                                    <li class="nav-item"><a class="nav-link" href="cart.html">Shopping Cart</a></li>
                                </ul>
                            </li>
                            <li class="nav-item submenu dropdown">
                                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                                   aria-expanded="false">Blog</a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item"><a class="nav-link" href="blog.html">Blog</a></li>
                                    <li class="nav-item"><a class="nav-link" href="single-blog.html">Blog Details</a></li>
                                </ul>
                            </li>
                            <li class="nav-item"><a class="nav-link" asp-action="Contact" asp-controller="Home">Liên hệ</a></li>
                        </ul>




                    </div>
                    <div style="display: flex; align-items: center; justify-content: space-between;">
                        <ul class="nav-shop" style="display: flex; align-items: center; justify-content: space-between;">
                            <li class="nav-item" style="margin-right: 10px;">
                                <form action="/home/Shop" method="post">
                                    <div class="input-group">
                                        <input type="text" name="sortOrder" class="form-control" placeholder="Search" aria-label="Recipient's username" aria-describedby="basic-addon2">
                                        <div class="input-group-append">
                                            <input type="submit" value="Search" class="btn btn-outline-secondary">
                                        </div>
                                    </div>
                                    <input name="__RequestVerificationToken" type="hidden" value="CfDJ8CnR_TcGempMiDo_giSawHBHDIQQzoKN8iv-INfhDVVg9-UkdZadOhYA_UGkaMWJjsRCjlEqQov5oiwqnviDeixyKxyI3YMUwa0bjfBtEi5csLE89F2RRy83vsBrcYqy7Jee6YmUfvcAHTAYO8KDeDw">
                                </form>
                            </li>
                       
                            <li class="nav-item">
                                <a href="/Cart/ViewCart">
                                    <button class="nav-cart-button">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
                                            <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"></path>
                                        </svg>
                                        @{

                                            var procarrt = SessionService.GetObjFromSession(Context.Session, "Cart");
                                          
                                                <div id="reload" class="cart-count">
                                                    <div class="nav-shop__circle">@procarrt.Count</div>
                                                </div>
                                                                                    

                                        }
                                        
                                    </button>
                                </a>
                            </li>


                        </ul>
                        <ul class="nav navbar-nav menu_nav" style="margin: 0; display: flex; align-items: center; justify-content: flex-end;">
                            <li class="nav-item submenu dropdown">
                            <li class="nav-item submenu dropdown">
                                    @if (User.Identity.IsAuthenticated)
                                    {
                                        var isAdmin = User.IsInRole("Admin");
                                        var IsStaff = User.IsInRole("Staff");
                                    <!-- Hiển thị menu cho người dùng đã đăng nhập -->
                                    <a href="#" style="color:black" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
                                            <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0Zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4Zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10Z" />
                                        </svg>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li class="nav-item">
                                            <a asp-route-id_User="@Id_userValue" class="nav-link" asp-controller="Account" asp-action="MyProfile">
                                                <img src="~/UserImage/@AvatarUserValue" alt="Avatar" style="width: 25px; height: 25px; border-radius: 50%; object-fit: cover;">
                                                Hồ sơ của tôi
                                            </a>

                                        </li>
                                        <li class="nav-item">
                                            <a id="logoutButton" class="nav-link" href="javascript:void(0);">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-in-left" viewBox="0 0 16 16" style="width: 20px; height: 20px;">
                                                    <path fill-rule="evenodd" d="M10 3.5a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v9a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-2a.5.5 0 0 1 1 0v2A1.5 1.5 0 0 1 9.5 14h-8A1.5 1.5 0 0 1 0 12.5v-9A1.5 1.5 0 0 1 1.5 2h8A1.5 1.5 0 0 1 11 3.5v2a.5.5 0 0 1-1 0v-2z" />
                                                    <path fill-rule="evenodd" d="M4.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H14.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3z" />
                                                </svg>
                                                Đăng xuất
                                            </a>
                                        </li>
                                            @if (isAdmin || IsStaff)
                                            {
                                            <li class="nav-item">
                                                <a class="nav-link" href="~/Admin/Admin">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill-gear" viewBox="0 0 16 16">
                                                        <path d="M11 5a3 3 0 1 1-6 0 3 3 0 0 1 6 0Zm-9 8c0 1 1 1 1 1h5.256A4.493 4.493 0 0 1 8 12.5a4.49 4.49 0 0 1 1.544-3.393C9.077 9.038 8.564 9 8 9c-5 0-6 3-6 4Zm9.886-3.54c.18-.613 1.048-.613 1.229 0l.043.148a.64.64 0 0 0 .921.382l.136-.074c.561-.306 1.175.308.87.869l-.075.136a.64.64 0 0 0 .382.92l.149.045c.612.18.612 1.048 0 1.229l-.15.043a.64.64 0 0 0-.38.921l.074.136c.305.561-.309 1.175-.87.87l-.136-.075a.64.64 0 0 0-.92.382l-.045.149c-.18.612-1.048.612-1.229 0l-.043-.15a.64.64 0 0 0-.921-.38l-.136.074c-.561.305-1.175-.309-.87-.87l.075-.136a.64.64 0 0 0-.382-.92l-.148-.045c-.613-.18-.613-1.048 0-1.229l.148-.043a.64.64 0 0 0 .382-.921l-.074-.136c-.306-.561.308-1.175.869-.87l.136.075a.64.64 0 0 0 .92-.382l.045-.148ZM14 12.5a1.5 1.5 0 1 0-3 0 1.5 1.5 0 0 0 3 0Z" />
                                                    </svg>
                                                    Trang quản trị
                                                </a>
                                            </li>
                                            }
                                        <li class="nav-item"><a class="nav-link" asp-action="Thongtin" asp-controller="Home">Đơn hàng</a></li>
                                        <li class="nav-item"><a class="nav-link" asp-action="ApplyDiscount" asp-controller="Home">Kho voucher</a></li>
                                    </ul>
                                    }
                                    else
                                    {
                                    <!-- Hiển thị menu cho người dùng chưa đăng nhập -->
                                    <a href="#" style="color:black" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
                                            <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0Zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4Zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10Z" />
                                        </svg>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li class="nav-item">
                                            <a class="nav-link" href="~/account/login">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-in-right" viewBox="0 0 16 16" style="width: 20px; height: 20px;">
                                                    <path fill-rule="evenodd" d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0v-2z" />
                                                    <path fill-rule="evenodd" d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z" />
                                                </svg>
                                                Đăng nhập
                                            </a>

                                        </li>
                                    </ul>
                                    }
                            </li>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </header>

    <main class="site-main">

        @RenderBody()

        <section class="subscribe-position">
            <div class="container">
            </div>
        </section>
        <!-- ================ Subscribe section end ================= -->



    </main>


    <!--================ Start footer Area  =================-->
    <footer class="footer">
        <div class="footer-area">
            <div class="container">
                <div class="row section_gap">
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="single-footer-widget tp_widgets">
                            <h4 class="footer_title large_title">Our Mission</h4>
                            <p>
                                So seed seed green that winged cattle in. Gathering thing made fly you're no
                                divided deep moved us lan Gathering thing us land years living.
                            </p>
                            <p>
                                So seed seed green that winged cattle in. Gathering thing made fly you're no divided deep moved
                            </p>
                        </div>
                    </div>
                    <div class="offset-lg-1 col-lg-2 col-md-6 col-sm-6">
                        <div class="single-footer-widget tp_widgets">
                            <h4 class="footer_title">Quick Links</h4>
                            <ul class="list">
                                <li><a href="#">Home</a></li>
                                <li><a href="#">Shop</a></li>
                                <li><a href="#">Blog</a></li>
                                <li><a href="#">Product</a></li>
                                <li><a href="#">Brand</a></li>
                                <li><a href="#">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-6 col-sm-6">
                        <div class="single-footer-widget instafeed">
                            <h4 class="footer_title">Gallery</h4>
                            <ul class="list instafeed d-flex flex-wrap">
                                <li><img src="~/contentwebb/img/gallery/r1.jpg" alt=""></li>
                                <li><img src="~/contentwebb/img/gallery/r2.jpg" alt=""></li>
                                <li><img src="~/contentwebb/img/gallery/r3.jpg" alt=""></li>
                                <li><img src="~/contentwebb/img/gallery/r5.jpg" alt=""></li>
                                <li><img src="~/contentwebb/img/gallery/r7.jpg" alt=""></li>
                                <li><img src="~/contentwebb/img/gallery/r8.jpg" alt=""></li>
                            </ul>
                        </div>
                    </div>
                    <div class="offset-lg-1 col-lg-3 col-md-6 col-sm-6">
                        <div class="single-footer-widget tp_widgets">
                            <h4 class="footer_title">Contact Us</h4>
                            <div class="ml-40">
                                <p class="sm-head">
                                    <span class="fa fa-location-arrow"></span>
                                    Head Office
                                </p>
                                <p>123, Main Street, Your City</p>

                                <p class="sm-head">
                                    <span class="fa fa-phone"></span>
                                    Phone Number
                                </p>
                                <p>
                                    +123 456 7890 <br>
                                    +123 456 7890
                                </p>

                                <p class="sm-head">
                                    <span class="fa fa-envelope"></span>
                                    Email
                                </p>
                                <p>
                                    free@infoexample.com <br>
                                    www.infoexample.com
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer-bottom">
            <div class="container">
                <div class="row d-flex">
                    <p class="col-lg-12 footer-text text-center">
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </p>
                </div>
            </div>
        </div>
    </footer>
    <!--================ End footer Area  =================-->

    <script src="~/js/site.js"></script>

    <!-- Thư viện jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10/dist/sweetalert2.min.js"></script>


    <script src="~/contentwebb/vendors/jquery/jquery-3.2.1.min.js"></script>
    <script src="~/contentwebb/js/main.js"></script>
    <script src="~/contentwebb/vendors/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="~/contentwebb/vendors/skrollr.min.js"></script>
    <script src="~/contentwebb/vendors/owl-carousel/owl.carousel.min.js"></script>
    <script src="~/contentwebb/vendors/nice-select/jquery.nice-select.min.js"></script>
    <script src="~/contentwebb/vendors/jquery.ajaxchimp.min.js"></script>
    <script src="~/contentwebb/vendors/mail-script.js"></script>
    <script src="~/contentwebb/js/main.js"></script>
    <script src="~/js/sty.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        document.getElementById('logoutButton').addEventListener('click', function () {
            Swal.fire({
                title: 'Bạn có chắc không?',
                text: 'Bạn có chắc muốn đăng xuất không!',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Có, đăng xuất!',
                cancelButtonText: 'Không',
            }).then((result) => {
                if (result.isConfirmed) {
                    // Redirect to the logout URL
                    window.location.href = '/account/logout';
                }
            });

        });
    </script>
    @await Component.InvokeAsync("Notyf")
    @RenderSection("scripts", false)
</body>
</html>