
﻿@using System.Globalization;


﻿@{
    var p = new List<Guid>();
}

@foreach (var product in ViewBag.Products ?? Enumerable.Empty<APPDATA.Models.ProductDetail>())
{
    if (p.Any(c => c == product.ProductDetail.Id_Product))
    {
        continue;
    }
    p.Add(product.ProductDetail.Id_Product);
    <div class="col-md-6 col-lg-4">
        <div class="card text-center card-product">
            <div class="card-product__img">
                @if (product.Image != null && !string.IsNullOrEmpty(product.Image?.Name))
                {
                    <img class="card-img" src="~/images/@product.Image.Name" alt="ErrorImg" width="150px" height="250px">
                }
                <ul class="card-product__imgOverlay">
                    <li><a href="@Url.ActionLink("details","home",new{id=product.ProductDetail.Id})"><button><i class="ti-search"></i></button></a></li>
                    <li><button class="buy-btn" data-product-id="@product.ProductDetail.Id"><i class="ti-shopping-cart"></i></button></li>
                </ul>
            </div>
            <div class="card-body">
                <h4 class="card-product__title"><a href="#">@product.ProductDetail.Name</a></h4>
                <p class="card-product__price" style="color:#f15e2c">@product.ProductDetail.Price.ToString("C0", new CultureInfo("vi-VN"))</p>
            </div>
        </div>
    </div>
}
<script>
    $('body').on('click', '.buy-btn', function (e) {
        e.preventDefault();
        var id = $(this).data('product-id');
        var quantity = 1;
        var quantityText = $('.o').text();
        if (quantityText != '') {
            quantity = parseInt(quantityText);
        }

        $.ajax({
            url: '/cart/AddToCart',
            type: 'POST',
            data: { id: id, Soluong: quantity },
            success: function (rs) {
                if (rs.success) {
                    // Hiển thị thông báo thành công
                    Swal.fire({
                        icon: 'success',
                        title: 'Thêm vào giỏ hàng thành công!',
                        showConfirmButton: false,
                        position: 'bottom-right',
                        timer: 2000,
                        toast: true
                    });

                    // Cập nhật số lượng sản phẩm trong giỏ hàng
                    $('.nav-shop__circle').html(rs.count);
                } else {
                    // Hiển thị thông báo lỗi nếu cần
                    Swal.fire({
                        icon: 'error',
                        title: 'Lỗi',
                        text: 'Có lỗi xảy ra khi thêm vào giỏ hàng.',
                        showConfirmButton: false,
                        position: 'bottom-right',
                        timer: 2000,
                        toast: true
                    });
                }
            }
        });
    });
</script>